h1{
    text-align: center;
    font-weight: 400;
}
h5{
    text-align: center;
    font-weight: 400;
}
table{
    padding: 20px;
    background-color: black;
    margin: 20px;

}
td{
    padding: 20px;
    margin: 20px;
    text-align: center;
    color: white;
}